.nftBig{
  width: 70%;
  margin-bottom: 50px;
}

.mintContent{
  margin-top: 50px;
  padding-bottom: 100px;
}

.mintContent input{
  border: none;
  outline: none;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
}

.mintContainer{
  display: flex;
  justify-content: center;
}
.btn{
  border-radius: 30px;
}


@media only screen and (max-width: 800px){
  .hide{
    display: none;
  }
}