.teamContainer{
 text-align: center;
 background-image: url(../../images/meet-bg.png);
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
 padding: 100px 10px;
}
.memberName{
  font-size: 20px;
  display: block;
}
.memberTitle{
  display: block;
  margin: 5px 0;
  font-size: 12px;
  letter-spacing: 1px;
}

.teamContainer img{
  width: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.teamContainer p{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 200;
}