.headerContainer{
  /* background-image: url(../../images/header-bg.png); */
  background: #08102D 0% 0% no-repeat padding-box;
  height: 80px;
  padding:0 10%;
}
.logo{
  color: white;
  display: flex;
  height: 90px;
  align-items: center;
}

.headerRight{
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.headerRight a{
  text-decoration: none;
  color: white;
  text-transform:uppercase;
  letter-spacing: 1px;
  font-size: 14px
}
.headerRight svg{
  font-size: 24px
}
.headerRight button{
  border-radius: 30px;
  margin-left: 20px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
